CxImageNG/projects/zlibwapi/zlibwapi.VC.db
CxImageNG/projects/zlibwapi/zlibwapi.VC.VC.opendb

CxImageNG/projects/zlibwapi/DLL_MD_Debug/**
CxImageNG/projects/zlibwapi/DLL_MD_Release/**
CxImageNG/projects/zlibwapi/DLL_MT_Debug/**
CxImageNG/projects/zlibwapi/DLL_MT_Release/**
CxImageNG/projects/zlibwapi/LIB_MD_Debug/**
CxImageNG/projects/zlibwapi/LIB_MD_Release/**
CxImageNG/projects/zlibwapi/LIB_MT_Debug/**
CxImageNG/projects/zlibwapi/LIB_MT_Release/**
CxImageNG/projects/zlibwapi/x64/**

CxImageNG/projects/zlibwapi/zlibwapi/DLL_MD_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/DLL_MD_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/DLL_MT_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/DLL_MT_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/LIB_MD_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/LIB_MD_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/LIB_MT_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/LIB_MT_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/x64/**
