CxImageNG/projects/zlibwapi/.vs
CxImageNG/projects/zlibwapi/Win32_DLL_MD_Debug/**
CxImageNG/projects/zlibwapi/Win32_DLL_MD_Release/**
CxImageNG/projects/zlibwapi/Win32_DLL_MT_Debug/**
CxImageNG/projects/zlibwapi/Win32_DLL_MT_Release/**
CxImageNG/projects/zlibwapi/Win32_LIB_MD_Debug/**
CxImageNG/projects/zlibwapi/Win32_LIB_MD_Release/**
CxImageNG/projects/zlibwapi/Win32_LIB_MT_Debug/**
CxImageNG/projects/zlibwapi/Win32_LIB_MT_Release/**
CxImageNG/projects/zlibwapi/x64_DLL_MD_Debug/**
CxImageNG/projects/zlibwapi/x64_DLL_MD_Release/**
CxImageNG/projects/zlibwapi/x64_DLL_MT_Debug/**
CxImageNG/projects/zlibwapi/x64_DLL_MT_Release/**
CxImageNG/projects/zlibwapi/x64_LIB_MD_Debug/**
CxImageNG/projects/zlibwapi/x64_LIB_MD_Release/**
CxImageNG/projects/zlibwapi/x64_LIB_MT_Debug/**
CxImageNG/projects/zlibwapi/x64_LIB_MT_Release/**
CxImageNG/projects/zlibwapi/zlibwapi.VC.db
CxImageNG/projects/zlibwapi/zlibwapi.VC.VC.opendb
CxImageNG/projects/zlibwapi/zlibwapi/Win32_DLL_MD_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/Win32_DLL_MD_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/Win32_DLL_MT_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/Win32_DLL_MT_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/Win32_LIB_MD_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/Win32_LIB_MD_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/Win32_LIB_MT_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/Win32_LIB_MT_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/x64_DLL_MD_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/x64_DLL_MD_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/x64_DLL_MT_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/x64_DLL_MT_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/x64_LIB_MD_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/x64_LIB_MD_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/x64_LIB_MT_Debug/**
CxImageNG/projects/zlibwapi/zlibwapi/x64_LIB_MT_Release/**
CxImageNG/projects/zlibwapi/zlibwapi/zlibwapi.vcxproj.user
