CxImageNG/projects/zlibwapi/.vs
CxImageNG/projects/zlibwapi/Win32/**
CxImageNG/projects/zlibwapi/x64/**
CxImageNG/projects/zlibwapi/zlibwapi.VC.db
CxImageNG/projects/zlibwapi/zlibwapi.VC.VC.opendb
CxImageNG/projects/zlibwapi/zlibwapi/Win32/**
CxImageNG/projects/zlibwapi/zlibwapi/x64/**
CxImageNG/projects/zlibwapi/zlibwapi/zlibwapi.vcxproj.user
