[submodule "CxImageNG/submodules/CxImage"]
	path = CxImageNG/submodules/CxImage
	url = https://github.com/MarekKnapek/CxImage.git
[submodule "CxImageNG/submodules/zlib"]
	path = CxImageNG/submodules/zlib
	url = https://github.com/MarekKnapek/zlib.git
[submodule "CxImageNG/submodules/libpng"]
	path = CxImageNG/submodules/libpng
	url = https://github.com/MarekKnapek/libpng.git
[submodule "CxImageNG/submodules/IJG-JPEG"]
	path = CxImageNG/submodules/IJG-JPEG
	url = https://github.com/MarekKnapek/IJG-JPEG.git
